h1 {
    color: #ADD8E6;
    
}
    head {
        
    color: ghostwhite;
        
    }    
    

h2 {
    
    color: darkslateblue;
}

li {
    color: wheat;
    
}
p {
    
    color: whitesmoke;
}
h1 {
    color: whitesmoke;
    
}
h2 {
    
    color: whitesmoke;
}
h1 {
    color: whitesmoke;
    
}
h2 {
    
    color: whitesmoke;
}